<div class="container">
    {{ form_start(form) }}


    <div class="row mb-2">
        <div class="col-md-3 align-self-end">
            {{ form_label(form.depositedAt, 'Déposé le') }}
            {{ form_widget(form.depositedAt, { 'attr': {'placeholder': 'ex: 01/01/2021'} }) }}
        </div>
        <div class="col-md-3 align-self-end">
            {{ form_label(form.exchange, 'Sur') }}
            {{ form_widget(form.exchange) }}
        </div>
    </div>


    <div class="row mb-2">
        <div class="col-md-3 align-self-end">
            {{ form_label(form.valueEur, 'Montant') }}
            <div class="input-group">
                {{ form_widget(form.valueEur, { 'attr': {'placeholder': 'ex: 150'} }) }}
                <span class="input-group-text">€</span>
            </div>
        </div>
        <div class="col-md-3 align-self-end">
            {{ form_label(form.type, 'Type') }}
            {{ form_widget(form.type) }}
        </div>
    </div>


    <button class="btn btn-primary m-3">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>