{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Dépôts{% endblock %}

{% block body %}
    <h1>Mes dépôts</h1>

    <a href="{{ path('deposit_new') }}" class="btn btn-primary m-2">Ajouter un dépôt</a>

    <p>Total : {{ totalEur }} €</p>
    <table class="table table-bordered table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Déposer le</th>
            <th>Montant</th>
            <th>Méthode</th>
            <th>Plateforme</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for deposit in deposits %}
            <tr>
                <td>{{ deposit.depositedAt ? deposit.depositedAt|date('d/m/Y') : '' }}</td>
                <td>{{ deposit.valueEur|round(2) }} €</td>
                <td>{{ deposit.type }}</td>
                <td>{{ deposit.exchange }}</td>
                <td>
                    {{ include('deposit/_indexactions_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
