{% extends 'base.html.twig' %}

{% block title %}Hello CryptobookController!{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">

            <p>Total wallet : $ {{ totalUsd|round(1) }}</p>
            <p>Total dépôt FIAT : {{ totalDepositEur|round(2) }} €</p>

            <div class="row">
                <ul>
                    {% for position in positions %}
                        <li>{{ position.libelle }} : $ {{ position.valueUsd|round(2) }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col">
            <canvas id="chart-pos"></canvas>
        </div>
    </div>



    <div id="id-array-positions" class="visually-hidden" data-pie="{{ positions|json_encode }}">
    </div>
{% endblock %}
