{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3">

            <table class="table table-sm table-bordered table-striped table-responsive-md table-dark">
                <thead>
                <tr>
                    <th>Bilan</th>
                    <th class="text-end">{{ ratioUsdEur|round(4) }} $</th>
                    <th class="text-end">1 €</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-white">Investi</td>
                    {% set totalDepositUsd = totalDepositEur*ratioUsdEur %}
                    <td class="text-white text-end">{{ totalDepositUsd|round(0) }} $</td>
                    <td class="text-white text-end">{{ totalDepositEur|round(0) }} €</td>
                </tr>
                <tr>
                    <td class="text-white">Wallet crypto</td>
                    <td class="text-white text-end">{{ totalUsd|round(0) }} $</td>
                    <td class="text-white text-end">{{ totalEur|round(0) }} €</td>
                </tr>
                <tr>
                    <td class="text-white">Wallet stable</td>
                    <td class="text-white text-end">{{ totalUsdStable|round(0) }} $</td>
                    <td class="text-white text-end">{{ totalEurStable|round(0) }} €</td>
                </tr>
                <tr>
                    <td class="text-white">Total</td>
                    {% set totalWalletUsd = totalUsd+totalUsdStable %}
                    {% set totalWalletEur = totalEur+totalEurStable %}
                    <td class="text-white text-end">{{ totalWalletUsd|round(0) }} $</td>
                    <td class="text-white text-end">{{ totalWalletEur|round(0) }} €</td>
                </tr>
                <tr>
                    <td class="text-white">Résultat</td>
                    <td class="text-end
                        {% if (totalWalletUsd-totalDepositUsd) > 0 %}
                            text-success
                        {% else %}
                            text-warning
                        {% endif %}"
                    >
                        {{ (totalWalletUsd-totalDepositUsd)|round(0) }}$
                    </td>
                    <td class="text-end
                        {% if (totalWalletEur-totalDepositEur) > 0 %}
                            text-success
                        {% else %}
                            text-warning
                        {% endif %}"
                    >
                        {{ (totalWalletEur-totalDepositEur)|round(0) }} €
                    </td>
                </tr>

                <tr>
                    {% set percent = totalDepositUsd > 0 ? totalWalletUsd*100/totalDepositUsd-100 : 0 %}
                    <td class="text-white">Résultat %</td>
                    <td colspan="2" class="text-end
                        {% if percent > 0 %}
                            text-success
                        {% else %}
                            text-warning
                        {% endif %}"
                    >
                        {{ (percent)|round(0) }} %
                    </td>
                </tr>


                {# <tr>
                    <td class="text-white">Farming Crypto</td>
                    <td class="text-white text-end">{{ totalUsd|round(0) }} $</td>
                    <td class="text-white text-end">€</td>
                </tr>
                <tr>
                    <td class="text-white">Farming Stable</td>
                    <td class="text-white text-end">{{ totalUsd|round(0) }} $</td>
                    <td class="text-white text-end">€</td>
                </tr>
                <tr>
                    <td class="text-white">Emprunt</td>
                    <td class="text-white text-end">{{ totalUsd|round(0) }} $</td>
                    <td class="text-white text-end">€</td>
                </tr> #}


                </tbody>
            </table>
            <table class="table table-sm table-bordered table-striped table-responsive-md table-dark">
                <thead>
                <tr>
                    <th colspan="3">Wallet Crypto</th>
                </tr>
                </thead>
                <tbody>
                {% for position in positions %}
                    <tr>
                        <td class="text-white text-end">{{ position.totalsum|round(2) }}</td>
                        <td class="text-white">{{ position.symbol|upper }}</td>
                        <td class="text-white text-end">{{ position.valueUsd|round(2) }}$</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

            {% set totalYearFarmingEur = totalYearFarmingUsd/ratioUsdEur %}
            <table class="table table-sm table-bordered table-striped table-responsive-md table-dark">
                <thead>
                <tr>
                    <th>Farming</th>
                    <th class="text-end">{{ ratioUsdEur|round(4) }} $</th>
                    <th class="text-end">1 €</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-white">Jour</td>
                    <td class="text-white text-end">{{ (totalYearFarmingUsd/356)|round(0) }} $</td>
                    <td class="text-white text-end">{{ (totalYearFarmingEur/356)|round(0) }} €</td>
                </tr>
                <tr>
                    <td class="text-white">Semaine</td>
                    <td class="text-white text-end">{{ (totalYearFarmingUsd/52)|round(0) }} $</td>
                    <td class="text-white text-end">{{ (totalYearFarmingEur/52)|round(0) }} €</td>
                </tr>
                <tr>
                    {% set totalYearFarmingEur = totalYearFarmingUsd/ratioUsdEur %}
                    <td class="text-white">Mois</td>
                    <td class="text-white text-end">{{ (totalYearFarmingUsd/12)|round(0) }} $</td>
                    <td class="text-white text-end">{{ (totalYearFarmingEur/12)|round(0) }} €</td>
                </tr>
                <tr>
                    <td class="text-white">Année</td>
                    <td class="text-white text-end">{{ totalYearFarmingUsd|round(0) }} $</td>
                    <td class="text-white text-end">{{ totalYearFarmingEur|round(0) }} €</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            {% if positions|length > 0 %}
                <div class="row mb-1">
                    <div class="col-2"></div>
                    <div class="col text-center">
                        <p>Mes positions</p>
                        <canvas id="chart-pos"></canvas>
                    </div>
                    <div class="col-2"></div>
                </div>
            {% endif %}

            {% if positions_stable|length > 0 %}
                <div class="row">
                    <div class="col-6 text-center">
                        <p>Ratio Crypto/Stable</p>
                        <canvas id="chart-ratio"></canvas>
                    </div>
                    <div class="col-6 text-center">
                        {% if positions_stable|length > 1 %}
                            <p>Mes positions stable</p>
                            <canvas id="chart-stable"></canvas>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>


    <div id="id-array-positions" class="visually-hidden"
         data-pie="{{ positions|json_encode }}"
         data-piestable="{{ positions_stable|json_encode }}"
         data-crypto="{{ totalUsd }}"
         data-stable="{{ totalUsdStable }}">
    </div>
{% endblock %}
