{% extends 'base.html.twig' %}

{% block title %}ProjectMonitoring{% endblock %}

{% block body %}
    <h1>ProjectMonitoring</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project_monitoring.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ project_monitoring.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project_monitoring.description }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ project_monitoring.note }}</td>
            </tr>
            <tr>
                <th>Links</th>
                <td>{{ project_monitoring.links ? project_monitoring.links|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_project_monitoring_index') }}">back to list</a>

    <a href="{{ path('app_project_monitoring_edit', {'id': project_monitoring.id}) }}">edit</a>

    {{ include('project_monitoring/_delete_form.html.twig') }}
{% endblock %}
