{% import _self as formMacros %}

{% macro vente_prototype(vente) %}
    <tr class="js-item">
        <td class="text-center align-middle">
            <button type="button" class="js-remove btn btn-secondary">-</button>
        </td>
        <td class="text-white align-middle">
            {{ form_widget(vente.soldAt, { 'attr': {'placeholder': 'ex: 01/01/2021'} }) }}
        </td>
        <td class="text-white align-middle">
            <div class="input-group">
                {{ form_widget(vente.percent) }}
                <span class="input-group-text">%</span>
            </div>
        </td>
        <td class="text-white align-middle">
            <div class="input-group">
                {{ form_widget(vente.priceSold) }}
                <span class="input-group-text">$</span>
            </div>
        </td>
    </tr>
{% endmacro %}

{% macro strategy_prototype(strategy) %}
    <tr class="js-item">
        <td class="text-center align-middle">
            <button type="button" class="js-remove btn btn-secondary">-</button>
        </td>
        <td class="text-white align-middle">
            <div class="input-group">
                {{ form_widget(strategy.percent) }}
                <span class="input-group-text">%</span>
            </div>
        </td>
        <td class="text-white align-middle">
            <div class="input-group">
                {{ form_widget(strategy.priceSold) }}
                <span class="input-group-text">$</span>
            </div>
        </td>
    </tr>
{% endmacro %}


<div class="container">
    {{ form_start(form) }}
    <div class="row mb-2">
        <div class="col-md-3 align-self-end">
            {{ form_label(form.openedAt, 'Date') }}
            {{ form_widget(form.openedAt, { 'attr': {'placeholder': 'ex: 01/01/2021'} }) }}
        </div>
        <div class="col-md-3 align-self-end">
            {{ form_label(form.coin, 'Coin') }}
            {{ form_widget(form.coin) }}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-3 align-self-end">
            {{ form_label(form.nbCoins, 'Nombre') }}
            {{ form_widget(form.nbCoins, { 'attr': {'placeholder': 'ex: 0.1'} }) }}
        </div>
        <div class="col-md-3 align-self-end">
            <i class="bi bi-info-circle-fill" role="img" aria-label="" data-bs-toggle="tooltip"
               title="Coût total payé (Pas le coût du coin)"></i>
            {{ form_label(form.entryCost, 'Coût total ($)') }}

            <div class="input-group">
                {{ form_widget(form.entryCost, { 'attr': {'placeholder': 'ex: 150'} }) }}
                <span class="input-group-text">$</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 align-self-end">
            {{ form_row(form.isOpened) }}
        </div>
    </div>

    <div class="col-6 mb-3">
        {{ form_label(form.description, 'Description') }}
        {{ form_widget(form.description, { 'attr': {
            'placeholder': 'ex: Ma position est sur telle Dapp/Exchange, ou sur la blockchain...',
            'rows': 3
        } }) }}
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="strategy-tab" data-bs-toggle="tab" data-bs-target="#strategy"
                    type="button"
                    role="tab" aria-controls="strategy" aria-selected="true">Stratégie
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="vente-tab" data-bs-toggle="tab" data-bs-target="#vente" type="button"
                    role="tab" aria-controls="vente" aria-selected="false">Vente
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="strategy" role="tabpanel" aria-labelledby="strategy-tab">

            <button type="button" class="m-3 add_item_link btn btn-outline-light" data-wrapper="strategies-wrapper">
                Ajouter une stratégie
            </button>

            <table class="table table-bordered table-striped table-responsive-md table-dark">
                <thead>
                <tr>
                    <th class="th-remove-collection" scope="col"></th>
                    <th scope="col">%</th>
                    <th scope="col">prix</th>
                </tr>
                </thead>
                <tbody class="strategies-wrapper"
                       data-index="{{ form.strategies|length }}"
                       data-prototype="{{ formMacros.strategy_prototype(form.strategies.vars.prototype)|e('html_attr') }}">
                {% for strategy in form.strategies %}
                    {{ formMacros.strategy_prototype(strategy) }}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="vente" role="tabpanel" aria-labelledby="vente-tab">

            <button type="button" class="m-3 add_item_link btn btn-outline-light" data-wrapper="ventes-wrapper">
                Ajouter une vente
            </button>

            <table class="table table-bordered table-striped table-responsive-md table-dark">
                <thead>
                <tr>
                    <th class="th-remove-collection" scope="col"></th>
                    <th scope="col">Date</th>
                    <th scope="col">%</th>
                    <th scope="col">prix</th>
                </tr>
                </thead>
                <tbody class="ventes-wrapper"
                       data-index="{{ form.ventes|length }}"
                       data-prototype="{{ formMacros.vente_prototype(form.ventes.vars.prototype)|e('html_attr') }}">
                {% for vente in form.ventes %}
                    {{ formMacros.vente_prototype(vente) }}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col">{{ form_widget(form.submit, { 'label': 'Valider' }) }}</div>
        <div class="col text-end">{{ form_widget(form.submitAndNext, { 'label': 'Valider & continuer' }) }}</div>
    </div>

    {{ form_end(form) }}
</div>
