{% import _self as formMacros %}

{% macro vente_prototype(vente) %}
    <div class="col js-item" data-toto="coucou">
        {# <a href="#" class="js-remove">
            <span class="fa fa-close"></span>
        </a> #}
        <button type="button" class="js-remove btn btn-warning">remove</button>
        {{ form_errors(vente) }}
        {{ form_row(vente.isStrategy) }}
        {{ form_row(vente.soldAt) }}
        {{ form_row(vente.percent) }}
        {{ form_row(vente.priceSold) }}
    </div>
{% endmacro %}


<div class="container">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md  align-self-end">
            <div class="mb-3">
                {{ form_widget(form.isOpened) }}
            </div>
        </div>
        <div class="col-md align-self-end">
            {{ form_row(form.openedAt) }}
        </div>
        <div class="col-md align-self-end">
            {{ form_row(form.coin) }}
        </div>
        <div class="col-md align-self-end">
            {{ form_row(form.nbCoins) }}
        </div>
        <div class="col-md align-self-end">
            {{ form_row(form.entryCost) }}
        </div>
        <div class="col-md align-self-end">
            <div class="mb-3">
                <button type="button" class="add_item_link btn btn-secondary" data-wrapper="ventes-wrapper">
                    Ajouter une vente
                </button>
            </div>
        </div>
    </div>
    {# <div class="row">
        <ul class="ventes" data-index="{{ form.ventes|length > 0 ? form.ventes|last.vars.name + 1 : 0 }}"
            data-prototype="{{ _self.vente_prototype(form.ventes.vars.prototype)|e }}">

        </ul>
    </div> #}
    <div class="row ventes-wrapper"
         data-index="{{ form.ventes|length }}"
         data-prototype="{{ formMacros.vente_prototype(form.ventes.vars.prototype)|e('html_attr') }}">

        {% for vente in form.ventes %}
            {{ formMacros.vente_prototype(vente) }}
        {% endfor %}
    </div>

    <div class="row">
        <div class="col">{{ form_widget(form.submit) }}</div>
        <div class="col-8"></div>
        <div class="col">{{ form_widget(form.submitAndNext) }}</div>
    </div>

    {{ form_end(form) }}
</div>
