<div class="container">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md">
            {{ form_row(form.isOpened) }}
        </div>
        <div class="col-md">
            {{ form_row(form.openedAt) }}
        </div>
        <div class="col-md">
            {{ form_row(form.coin) }}
        </div>
        <div class="col-md">
            {{ form_row(form.nbCoins) }}
        </div>
        <div class="col-md">
            {{ form_row(form.entryCost) }}
        </div>
    </div>
    <div class="row">
        <ul class="ventes" data-index="{{ form.ventes|length > 0 ? form.ventes|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(form.ventes.vars.prototype)|e('html_attr') }}">

        </ul>

        <button type="button" class="add_item_link" data-collection-holder-class="ventes">Ajouter une vente</button>
    </div>
    {# <div class="row">
        {{ form_label(form.ventes) }}
        {{ form_errors(form.ventes) }}

        <ul id="vente-fields-list"
            data-prototype="{{ form_widget(form.ventes.vars.prototype)|e }}"
            data-widgettags="{{ 'li'|e }}"
            data-widgetcounter="{{ form.ventes|length }}">
            {% for vente in form.ventes %}
                <li>
                    {{ form_errors(vente) }}
                    {{ form_widget(vente) }}
                </li>
            {% endfor %}
        </ul>
        <button type="button" id="btn-add-vente" class="btn add-another-collection-widget"
                data-listselector="vente-fields-list">
            Ajouter une vente
        </button>
    </div> #}
    <div class="row">
        {{ form_row(form.submit) }}
        {{ form_row(form.submitAndNext) }}
    </div>
    {{ form_end(form) }}
</div>
