<p>Description : {{ position.description }}</p>
<table></table>

{% set nbCoinsAtTheEnd = position.nbCoins %}
{% set roi = 0 %}
{% set lastPrice = 0 %}
{% set counter = 1 %}
<p>Nombre de ventes prévues: {{ position.strategies|length }}</p>

<table class="table table-sm table-bordered table-striped table-responsive-md table-dark">
    <thead>
    <tr>
        <th>Ventes</th>
        <th>Prix</th>
        <th>%</th>
        <th>Nombre vendue</th>
        <th>Argent récupérée</th>
        <th>Nombre restant</th>
    </tr>
    </thead>
    <tbody>
    {% for strategy in position.strategies %}
        {% set currentSellNbCoin = nbCoinsAtTheEnd * strategy.percent / 100 %}
        {% set currentRoi = currentSellNbCoin * strategy.priceSold %}
        {% set roi = roi + currentRoi %}
        {% set nbCoinsAtTheEnd = nbCoinsAtTheEnd - currentSellNbCoin %}
        <tr>
            <td class="text-white text-end">{{ counter }}</td>
            <td class="text-white text-end">{{ strategy.priceSold }}</td>
            <td class="text-white text-end">{{ strategy.percent }} %</td>
            <td class="text-white text-end">{{ currentSellNbCoin }}</td>
            <td class="text-white text-end">{{ currentRoi }} $</td>
            <td class="text-white text-end">{{ nbCoinsAtTheEnd }}</td>
        </tr>
        {% set counter = counter + 1 %}
    {% endfor %}

    </tbody>
</table>

{% set result = roi - position.entryCost %}
{% set percentResult = result * 100 / position.entryCost %}
<h2 class="h3">Prévision : </h2>
<p>Nombre de coin restants après ventes : {{ nbCoinsAtTheEnd }}</p>
<p>Pourcentage de coin restants : {{ nbCoinsAtTheEnd * 100 / position.nbCoins }} %</p>
<p>Récupéré : {{ roi }}$</p>
<p>Gains/pertes : {{ result }}$</p>
<p>Pourcentage gains/pertes: {{ percentResult }}%</p>
<p></p>
