{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Positions{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('position_form') }}
    {{ encore_entry_script_tags('collection') }}
    {{ encore_entry_script_tags('tab') }}
    {{ encore_entry_script_tags('select2') }}
{% endblock %}

{% block body %}
    <h1>Modifier position</h1>

    {{ include('position/_form.html.twig') }}

{% endblock %}
