{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Positions{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('tab') }}
{% endblock %}

{% block body %}
    <div class="row mb-2">
        <div class="col">
            <h1>Mes positions</h1>
        </div>
        <div class="col text-end">
            <a href="{{ path('position_new') }}" class="btn btn-warning m-2">Ajouter une position</a>
        </div>
    </div>


    <ul class="nav nav-tabs navbar-dark" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="crypto-tab" data-bs-toggle="tab" data-bs-target="#crypto"
                    type="button"
                    role="tab" aria-controls="crypto" aria-selected="true">Crypto ({{ positions|length }})
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="stable-tab" data-bs-toggle="tab" data-bs-target="#stable" type="button"
                    role="tab" aria-controls="stable" aria-selected="false">Stable ({{ positions_stable|length }})
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="closed-tab" data-bs-toggle="tab" data-bs-target="#closed" type="button"
                    role="tab" aria-controls="closed" aria-selected="false">Fermée ({{ positions_closed|length }})
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="crypto" role="tabpanel" aria-labelledby="crypto-tab">

            <table class="table table-bordered table-striped table-responsive-md table-dark">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Ouvert le</th>
                    <th>Nombre actuel/départ</th>
                    <th>Coût d'entrée</th>
                    <th>Prix d'entrée</th>
                    <th>Valeur actuelle</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for position in positions %}
                    <tr>
                        <td class="text-white text-center align-middle">
                            <img src="{{ position.coin.urlImgThumb }}" alt="Logo {{ position.coin.libelle }}">
                        </td>
                        <td class="text-white align-middle">{{ position.coin.symbol|upper }}</td>
                        <td class="text-white align-middle text-center">{{ position.openedAt ? position.openedAt|date('d/m/Y') : '' }}</td>
                        <td class="text-white align-middle text-end">{{ position.remainingCoins }}/{{ position.nbCoins }}</td>
                        <td class="text-white align-middle text-end">{{ position.entryCost }} $</td>
                        <td class="text-white align-middle text-end">{{ position.entryCoinValue }} $</td>
                        <td class="text-white align-middle text-end">{{ (position.remainingCoins*position.coin.priceUsd)|round(2) }}$
                        </td>
                        <td class="text-white text-center align-middle">
                            {{ include('position/_indexactions_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="tab-pane fade" id="stable" role="tabpanel" aria-labelledby="stable-tab">


            <table class="table table-bordered table-striped table-responsive-md table-dark">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Ouvert le</th>
                    <th>Nombre achetés</th>
                    <th>Coût</th>
                    <th>Prix d'entrée</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for position in positions_stable %}
                    <tr>
                        <td class="text-white align-middle text-center"><img src="{{ position.coin.urlImgThumb }}"
                                                                             alt="Logo {{ position.coin.libelle }}"></td>
                        <td class="text-white align-middle">{{ position.coin.symbol|upper }}</td>
                        <td class="text-white align-middle text-center">{{ position.openedAt ? position.openedAt|date('d/m/Y') : '' }}</td>
                        <td class="text-white align-middle text-end">{{ position.nbCoins }}</td>
                        <td class="text-white align-middle text-end">{{ position.entryCost }} $</td>
                        <td class="text-white align-middle text-end">{{ position.entryCoinValue }} $</td>
                        <td class="text-white text-center align-middle">
                            {{ include('position/_indexactions_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="closed" role="tabpanel" aria-labelledby="closed-tab">


            <table class="table table-bordered table-striped table-responsive-md table-dark">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Ouvert le</th>
                    <th>Nombre</th>
                    <th>Coût d'entrée</th>
                    <th>Prix d'entrée</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for position in positions_closed %}
                    <tr>
                        <td class="text-white text-center align-middle">
                            <img src="{{ position.coin.urlImgThumb }}" alt="Logo {{ position.coin.libelle }}">
                        </td>
                        <td class="text-white align-middle">{{ position.coin.symbol|upper }}</td>
                        <td class="text-white align-middle text-center">{{ position.openedAt ? position.openedAt|date('d/m/Y') : '' }}</td>
                        <td class="text-white align-middle text-end">{{ position.nbCoins }}</td>
                        <td class="text-white align-middle text-end">{{ position.entryCost }} $</td>
                        <td class="text-white align-middle text-end">{{ position.entryCoinValue }} $</td>
                        <td class="text-white text-center align-middle">
                            {{ include('position/_indexactions_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>


    </div>


{% endblock %}
