{% extends 'base.html.twig' %}

{% block title %}Position index{% endblock %}

{% block body %}
    <h1>Mes positions</h1>

    <a href="{{ path('position_new') }}" class="btn btn-primary m-2">Ajouter une position</a>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Ouvert le</th>
            <th>Nombre achetés</th>
            <th>Coût</th>
            <th>Prix d'entrée</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for position in positions %}
            <tr>
                <td><img src="{{ position.coin.urlImgThumb }}" alt="Logo {{ position.coin.libelle }}"></td>
                <td>{{ position.coin.symbol|upper }}</td>
                <td>{{ position.openedAt ? position.openedAt|date('d/m/Y') : '' }}</td>
                <td>{{ position.nbCoins }}</td>
                <td>$ {{ position.entryCost }}</td>
                <td>$ {{ position.entryCoinValue }}</td>
                <td>
                    {{ include('position/_indexactions_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
