{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Positions{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('position_index') }}
    {{ encore_entry_script_tags('tab') }}
    {{ encore_entry_script_tags('tooltip') }}
    {{ encore_entry_script_tags('modal') }}
{% endblock %}

{% block body %}
    <div class="row mb-2">
        <div class="col">
            <h1>Mes positions</h1>
        </div>
        <div class="col text-end">
            <a href="{{ path('app_position_new') }}" class="btn btn-warning m-2">Ajouter une position</a>
        </div>
    </div>

    <ul class="nav nav-tabs navbar-dark" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="crypto-tab" data-bs-toggle="tab" data-bs-target="#crypto"
                    type="button"
                    role="tab" aria-controls="crypto" aria-selected="true">Crypto ({{ positions|length }})
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="stable-tab" data-bs-toggle="tab" data-bs-target="#stable" type="button"
                    role="tab" aria-controls="stable" aria-selected="false">Stable ({{ positions_stable|length }})
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="closed-tab" data-bs-toggle="tab" data-bs-target="#closed" type="button"
                    role="tab" aria-controls="closed" aria-selected="false">Fermée ({{ positions_closed|length }})
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="crypto" role="tabpanel" aria-labelledby="crypto-tab">
            <table class="table table-bordered table-striped table-responsive-md table-dark">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for position in positions %}
                    <tr>
                        <td class="text-white align-middle text-center" style="width: 30px;">({{ position['splitted']|length }})</td>
                        <td class="text-center" style="width: 53px;">
                            <button type="button"
                                    class="btn btn-xs btn-light btn-split"
                                    data-id="{{ position['grouped']['coin'].id }}">
                                <i class="bi bi-arrows-expand"></i>
                            </button>
                        </td>
                        <td class="text-white text-center align-middle" style="width: 53px;">
                            <img src="{{ position['grouped']['coin'].urlImgThumb }}" alt="Logo {{ position['grouped']['coin'].libelle }}">
                        </td>
                        <td class="text-white align-middle text-end">{{ position['grouped'].totalsum|round(8) }} {{ position['grouped']['coin'].symbol|upper }}</td>
                        <td class="text-white align-middle text-end">
                            ~ {{ (position['grouped'].totalsum * position['grouped']['coin'].priceUsd)|round(2) }} $
                        </td>
                    </tr>
                    <td id="detail-{{ position['grouped']['coin'].id }}" class="d-none" colspan="5">
                        <table class="table table-bordered table-striped table-responsive-md table-dark">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Ouvert le</th>
                                <th>Nombre actuel/départ</th>
                                <th>Coût d'entrée</th>
                                <th>Prix d'entrée</th>
                                <th>Valeur actuelle</th>
                                <th>Évolution %</th>
                                <th class="th-actions">actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for detail in position['splitted'] %}
                                <tr>
                                    <td class="text-center align-middle">
                                        <button type="button"
                                                class="btn btn-sm btn-light rounded-circle button-infos"
                                                data-id="{{ detail.id }}"
                                                data-titlemodal=""
                                                data-url="{{ path('app_position_ajax_infos', {'id': detail.id}) }}">
                                            <i class="bi bi-info"></i>
                                        </button>
                                    </td>
                                    <td class="text-white align-middle text-center">{{ detail.openedAt ? detail.openedAt|date('d/m/Y') : '' }}</td>
                                    <td class="text-white align-middle text-end">{{ detail.remainingCoins }}
                                        /{{ detail.nbCoins }}</td>
                                    <td class="text-white align-middle text-end">{{ detail.entryCost|number_format(2, '.', ' ') }} $</td>
                                    <td class="text-white align-middle text-end">{{ detail.entryCoinValue|number_format(2, '.', ' ') }}
                                        $
                                    </td>
                                    <td class="text-white align-middle text-end">{{ detail.currentValue|round(2)|number_format(2, '.', ' ') }}
                                        $
                                    </td>
                                    <td class="align-middle text-end
                                        {% if detail.percentEvolution > 0 %}
                                            text-success
                                        {% else %}
                                            text-warning
                                        {% endif %}">
                                        {% if detail.percentEvolution <= -99.9 %}
                                            LUNA SPOTTED
                                        {% else %}
                                            {{ detail.percentEvolution|number_format(0, '.', ' ') }} %
                                        {% endif %}
                                    </td>
                                    <td class="text-white text-center align-middle">
                                        {{ include('position/_indexactions_form.html.twig') }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="tab-pane fade" id="stable" role="tabpanel" aria-labelledby="stable-tab">
            <table class="table table-bordered table-striped table-responsive-md table-dark">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Ouvert le</th>
                    <th>Nombre achetés</th>
                    <th>Coût</th>
                    <th>Prix d'entrée</th>
                    <th class="th-actions">actions</th>
                </tr>
                </thead>
                <tbody>
                {% for position in positions_stable %}
                    <tr>
                        <td class="text-center align-middle">
                            <button type="button"
                                    class="btn btn-sm btn-light rounded-circle button-infos"
                                    data-id="{{ position.id }}"
                                    data-titlemodal=""
                                    data-url="{{ path('app_position_ajax_infos', {'id': position.id}) }}">
                                <i class="bi bi-info"></i>
                            </button>
                        </td>
                        <td class="text-white align-middle text-center"><img src="{{ position.coin.urlImgThumb }}"
                                                                             alt="Logo {{ position.coin.libelle }}"></td>
                        <td class="text-white align-middle">{{ position.coin.symbol|upper }}</td>
                        <td class="text-white align-middle text-center">{{ position.openedAt ? position.openedAt|date('d/m/Y') : '' }}</td>
                        <td class="text-white align-middle text-end">{{ position.nbCoins|number_format(2, '.', ' ') }}</td>
                        <td class="text-white align-middle text-end">{{ position.entryCost|number_format(2, '.', ' ') }} $</td>
                        <td class="text-white align-middle text-end">{{ position.entryCoinValue|number_format(2, '.', ' ') }} $</td>
                        <td class="text-white text-center align-middle">
                            {{ include('position/_indexactions_form_position.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="closed" role="tabpanel" aria-labelledby="closed-tab">
            <table class="table table-bordered table-striped table-responsive-md table-dark">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Ouvert le</th>
                    <th>Nombre</th>
                    <th>Coût d'entrée</th>
                    <th>Prix d'entrée</th>
                    <th class="th-actions">actions</th>
                </tr>
                </thead>
                <tbody>
                {% for position in positions_closed %}
                    <tr>
                        <td class="text-center align-middle">
                            <button type="button"
                                    class="btn btn-sm btn-light rounded-circle button-infos"
                                    data-id="{{ position.id }}"
                                    data-titlemodal=""
                                    data-url="{{ path('app_position_ajax_infos', {'id': position.id}) }}">
                                <i class="bi bi-info"></i>
                            </button>
                        </td>
                        <td class="text-white text-center align-middle">
                            <img src="{{ position.coin.urlImgThumb }}" alt="Logo {{ position.coin.libelle }}">
                        </td>
                        <td class="text-white align-middle">{{ position.coin.symbol|upper }}</td>
                        <td class="text-white align-middle text-center">{{ position.openedAt ? position.openedAt|date('d/m/Y') : '' }}</td>
                        <td class="text-white align-middle text-end">{{ position.nbCoins|number_format(2, '.', ' ') }}</td>
                        <td class="text-white align-middle text-end">{{ position.entryCost|number_format(2, '.', ' ') }} $</td>
                        <td class="text-white align-middle text-end">{{ position.entryCoinValue|number_format(2, '.', ' ') }} $</td>
                        <td class="text-white text-center align-middle">
                            {{ include('position/_indexactions_form_position.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {{ include('modal_informations.html.twig') }}

{% endblock %}
