<div class="container">
    {{ form_start(form) }}

    <div class="row mb-2">
        <div class="col-md-2 align-self-end">
            {{ form_label(form.enteredAt, 'Date d\'entrée') }}
            {{ form_widget(form.enteredAt, { 'attr': {'placeholder': 'ex: 01/01/2021'} }) }}
        </div>
        <div class="col-md-2 align-self-end">
            {{ form_label(form.apr, "% APR") }}

            <div class="input-group">
                {{ form_widget(form.apr) }}
                <span class="input-group-text">%</span>
            </div>
        </div>
        <div class="col-md-2 align-self-end">
            {{ form_label(form.nbCoins, "Nombre") }}
            {{ form_widget(form.nbCoins) }}
        </div>
        <div class="col-md-2 align-self-end">
            {{ form_label(form.coin, "Crypto") }}
            {{ form_widget(form.coin) }}
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-4 align-self-end">
            {{ form_label(form.blockchain, "Blockchain") }}
            {{ form_widget(form.blockchain) }}
        </div>
        <div id="id-dapp" class="col-md-4 align-self-end">
            {{ form_label(form.dapp, "Dapp") }}
            {{ form_widget(form.dapp) }}
        </div>
    </div>

    <div class="col-8 mb-3">
        {{ form_label(form.description, 'Description') }}
        {{ form_widget(form.description, { 'attr': {
            'placeholder': 'ex: Farming sur telle Dapp/Exchange, avec yield optimizer untel...',
            'rows': 3
        } }) }}
    </div>
    <button class="btn btn-light m-3">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>