<h1 class="h3">Information sur le farming</h1>
{% if farming.enteredAt %}
    <p>Depuis le : {{ farming.enteredAt|date('d/m/Y') }}</p>
{% endif %}
<p>{{ farming.nbCoins }} {{ farming.coin.symbol|upper }}
    (~{{ farming.currentValue|round(2)|number_format(2, '.', ' ') }} $)</p>
<p>APR : {{ farming.apr }} %</p>

{% if farming.description is not empty %}
    <p>Description : {{ farming.description }}</p>
{% endif %}

<p><a href="{{ farming.dapp.url }}">{{ farming.dapp }}</a> sur {{ farming.dapp.blockchain }}</p>

<h2 class="h4">Gains</h2>
<p>Annuel : ~{{ farming.farmingYear|round(2)|number_format(2, '.', ' ') }} $</p>
<p>Mensuel : ~{{ farming.farmingMonthly|round(2)|number_format(2, '.', ' ') }} $</p>
<p>Hebdomadaire : ~{{ farming.farmingWeekly|round(2)|number_format(2, '.', ' ') }} $</p>
<p>Journalier : ~{{ farming.farmingDaily|round(2)|number_format(2, '.', ' ') }} $</p>
