{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Farming{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('tab') }}
    {{ encore_entry_script_tags('modal') }}
{% endblock %}

{% block full_screen %}
    <div class="row mb-2">
        <div class="col">
            <h1>Mon farming</h1>
        </div>
        <div class="col text-end">
            <a href="{{ path('strategy_l_p_new') }}" class="btn btn-outline-warning m-2">Ajouter LP</a>
            <a href="{{ path('strategy_farming_new') }}" class="btn btn-warning m-2">Ajouter</a>
        </div>
    </div>

    {% if total_total_year > 0 %}

        {% set total_total_day = total_total_year / 365 %}
        {% set total_total_week = total_total_year / 52 %}
        {% set total_total_month = total_total_year / 12 %}


        <div class="row mb-3">
            <div class="col">Jour : {{ total_total_day|round(2)|number_format(0, '.', ' ') }} $</div>
            <div class="col">Semaine : {{ total_total_week|round(2)|number_format(0, '.', ' ') }} $</div>
            <div class="col">Mois : {{ total_total_month|round(2)|number_format(0, '.', ' ') }} $</div>
            <div class="col">année : {{ total_total_year|round(2)|number_format(0, '.', ' ') }} $</div>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="strategy-tab" data-bs-toggle="tab" data-bs-target="#strategy"
                        type="button"
                        role="tab" aria-controls="strategy" aria-selected="true">Crypto ({{ strategy_farmings|length }})
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="stable-tab" data-bs-toggle="tab" data-bs-target="#stable" type="button"
                        role="tab" aria-controls="stable" aria-selected="false">Stable ({{ strategy_farmings_stable|length }})
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="lp-tab" data-bs-toggle="tab" data-bs-target="#lp" type="button"
                        role="tab" aria-controls="lp" aria-selected="false">LP ({{ strategy_farmings_lp|length }})
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="strategy" role="tabpanel" aria-labelledby="strategy-tab">

                {% set total_day = total_year / 365 %}
                {% set total_week = total_year / 52 %}
                {% set total_month = total_year / 12 %}


                <div class="row m-2">
                    <div class="col">Jour : {{ total_day|round(2)|number_format(0, '.', ' ') }} $</div>
                    <div class="col">Semaine : {{ total_week|round(2)|number_format(0, '.', ' ') }} $</div>
                    <div class="col">Mois : {{ total_month|round(2)|number_format(0, '.', ' ') }} $</div>
                    <div class="col">année : {{ total_year|round(2)|number_format(0, '.', ' ') }} $</div>
                </div>

                <table class="table table-bordered table-striped table-responsive-md table-dark">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Blockchain</th>
                        <th>Dapp</th>
                        <th>Nombre</th>
                        <th>Coin</th>
                        <th>Apr</th>
                        <th>$</th>
                        <th>gains /jour</th>
                        <th>gains /mois</th>
                        <th>gains /an</th>
                        <th class="th-actions">actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for strategy_farming in strategy_farmings %}
                        {% set gain_day = strategy_farming['gain_year'] / 365 %}
                        {% set gain_month = strategy_farming['gain_year'] / 12 %}

                        <tr>
                            <td class="text-center align-middle">
                                <button type="button"
                                        class="btn btn-sm btn-light rounded-circle button-infos"
                                        data-id="{{ strategy_farming['strategy'].id }}"
                                        data-titlemodal=""
                                        data-url="{{ path('farming-infos-ajax', {'id': strategy_farming['strategy'].id}) }}">
                                    <i class="bi bi-info"></i>
                                </button>
                            </td>
                            <td class="text-white text-center align-middle">
                                <img src="{{ strategy_farming['strategy'].coin.urlImgThumb }}"
                                     alt="Logo {{ strategy_farming['strategy'].coin.libelle }}">
                            </td>
                            <td class="text-white align-middle">
                                {% if strategy_farming['strategy'].dapp is not null and strategy_farming['strategy'].dapp.blockchain %}
                                    {{ strategy_farming['strategy'].dapp.blockchain|capitalize }}
                                {% endif %}
                            </td>
                            <td class="text-white align-middle">
                                {% if strategy_farming['strategy'].dapp is not null and (strategy_farming['strategy'].dapp.url is not null or strategy_farming['strategy'].dapp.url is not empty) %}
                                    <a href="{{ strategy_farming['strategy'].dapp.url }}">{{ strategy_farming['strategy'].dapp|capitalize }}</a>
                                {% elseif strategy_farming['strategy'].dapp is not null %}
                                    {{ strategy_farming['strategy'].dapp|capitalize }}
                                {% endif %}
                            </td>
                            <td class="text-white align-middle text-end">{{ strategy_farming['strategy'].nbCoins }}</td>
                            <td class="text-white align-middle">{{ strategy_farming['strategy'].coin.symbol|upper }}</td>
                            <td class="text-white align-middle text-end">{{ strategy_farming['strategy'].apr }} %</td>
                            <td class="text-white align-middle text-end">{{ strategy_farming['value_dollar'] }} $</td>
                            <td class="text-white align-middle text-end">{{ gain_day|round(2)|number_format(2, '.', ' ') }} $</td>
                            <td class="text-white align-middle text-end">{{ gain_month|round(2)|number_format(2, '.', ' ') }} $</td>
                            <td class="text-white align-middle text-end">{{ strategy_farming['gain_year']|round(2)|number_format(2, '.', ' ') }}
                                $
                            </td>
                            <td class="text-white align-middle text-center">
                                {{ include('strategy_farming/_indexactions_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="tab-pane fade" id="stable" role="tabpanel" aria-labelledby="stable-tab">

                {% set total_day_stable = total_year_stable / 365 %}
                {% set total_week_stable = total_year_stable / 52 %}
                {% set total_month_stable = total_year_stable / 12 %}

                <div class="row m-2">
                    <div class="col">Jour : {{ total_day_stable|round(2)|number_format(0, '.', ' ') }} $</div>
                    <div class="col">Semaine : {{ total_week_stable|round(2)|number_format(0, '.', ' ') }} $</div>
                    <div class="col">Mois : {{ total_month_stable|round(2)|number_format(0, '.', ' ') }} $</div>
                    <div class="col">année : {{ total_year_stable|round(2)|number_format(0, '.', ' ') }} $</div>
                </div>

                <table class="table table-bordered table-striped table-responsive-md table-dark">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Blockchain</th>
                        <th>Dapp</th>
                        <th>Nombre</th>
                        <th>Coin</th>
                        <th>Apr</th>
                        <th>$</th>
                        <th>gains /jour</th>
                        <th>gains /mois</th>
                        <th>gains /an</th>
                        <th class="th-actions">actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for strategy_farming in strategy_farmings_stable %}
                        {% set gain_day = strategy_farming['gain_year'] / 365 %}
                        {% set gain_month = strategy_farming['gain_year'] / 12 %}

                        <tr>
                            <td class="text-center align-middle">
                                <button type="button"
                                        class="btn btn-sm btn-light rounded-circle button-infos"
                                        data-id="{{ strategy_farming['strategy'].id }}"
                                        data-titlemodal=""
                                        data-url="{{ path('farming-infos-ajax', {'id': strategy_farming['strategy'].id}) }}">
                                    <i class="bi bi-info"></i>
                                </button>
                            </td>
                            <td class="text-white text-center align-middle">
                                <img src="{{ strategy_farming['strategy'].coin.urlImgThumb }}"
                                     alt="Logo {{ strategy_farming['strategy'].coin.libelle }}">
                            </td>
                            <td class="text-white align-middle">
                                {% if strategy_farming['strategy'].dapp is not null and strategy_farming['strategy'].dapp.blockchain is not null %}
                                    {{ strategy_farming['strategy'].dapp.blockchain|capitalize }}
                                {% endif %}
                            </td>
                            <td class="text-white align-middle">
                                {% if strategy_farming['strategy'].dapp is not null and (strategy_farming['strategy'].dapp.url is not null or strategy_farming['strategy'].dapp.url is not empty) %}
                                    <a href="{{ strategy_farming['strategy'].dapp.url }}">{{ strategy_farming['strategy'].dapp|capitalize }}</a>
                                {% elseif strategy_farming['strategy'].dapp is not null %}
                                    {{ strategy_farming['strategy'].dapp|capitalize }}
                                {% endif %}
                            </td>
                            <td class="text-white align-middle text-end">{{ strategy_farming['strategy'].nbCoins }}</td>
                            <td class="text-white align-middle">{{ strategy_farming['strategy'].coin.symbol|upper }}</td>
                            <td class="text-white align-middle text-end">{{ strategy_farming['strategy'].apr }} %</td>
                            <td class="text-white align-middle text-end">{{ strategy_farming['value_dollar'] }} $</td>
                            <td class="text-white align-middle text-end">{{ gain_day|round(2)|number_format(2, '.', ' ') }} $</td>
                            <td class="text-white align-middle text-end">{{ gain_month|round(2)|number_format(2, '.', ' ') }} $</td>
                            <td class="text-white align-middle text-end">{{ strategy_farming['gain_year']|round(2)|number_format(2, '.', ' ') }}
                                $
                            </td>
                            <td class="text-white align-middle text-center">
                                {{ include('strategy_farming/_indexactions_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            <div class="tab-pane fade" id="lp" role="tabpanel" aria-labelledby="lp-tab">
                {% set total_day_lp = total_year_lp / 365 %}
                {% set total_week_lp = total_year_lp / 52 %}
                {% set total_month_lp = total_year_lp / 12 %}

                <div class="row m-2">
                    <div class="col">Jour : {{ total_day_lp|round(2) }} $</div>
                    <div class="col">Semaine : {{ total_week_lp|round(2) }} $</div>
                    <div class="col">Mois : {{ total_month_lp|round(2) }} $</div>
                    <div class="col">année : {{ total_year_lp|round(2) }} $</div>
                </div>

                <table class="table table-bordered table-striped table-responsive-md table-dark">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Blockchain</th>
                        <th>Dapp</th>
                        <th>Pair</th>
                        <th>Apr</th>
                        <th>Investi</th>
                        <th>Live</th>
                        <th>gains /jour</th>
                        <th>gains /mois</th>
                        <th>gains /an</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for strategy_farming in strategy_farmings_lp %}
                        {% set gain_day = strategy_farming['gain_year'] / 365 %}
                        {% set gain_month = strategy_farming['gain_year'] / 12 %}

                        <tr>
                            <td class="text-center align-middle">
                                <button type="button"
                                        class="btn btn-sm btn-light rounded-circle button-infos"
                                        data-id="{{ strategy_farming['strategy'].id }}"
                                        data-titlemodal=""
                                        data-url="{{ path('farminglp-infos-ajax', {'id': strategy_farming['strategy'].id}) }}">
                                    <i class="bi bi-info"></i>
                                </button>
                            </td>

                            <td class="text-white text-center align-middle">
                                <img src="{{ strategy_farming['strategy'].coin1.urlImgThumb }}"
                                     alt="Logo {{ strategy_farming['strategy'].coin1.libelle }}">
                                <img src="{{ strategy_farming['strategy'].coin2.urlImgThumb }}"
                                     alt="Logo {{ strategy_farming['strategy'].coin2.libelle }}">
                            </td>
                            <td class="text-white align-middle">
                                {% if strategy_farming['strategy'].dapp is not null and strategy_farming['strategy'].dapp.blockchain is not null %}
                                    {{ strategy_farming['strategy'].dapp.blockchain }}
                                {% endif %}
                            </td>
                            <td class="text-white align-middle">
                                {% if strategy_farming['strategy'].dapp is not null and (strategy_farming['strategy'].dapp.url is not null or strategy_farming['strategy'].dapp.url is not empty) %}
                                    <a href="{{ strategy_farming['strategy'].dapp.url }}">{{ strategy_farming['strategy'].dapp }}</a>
                                {% elseif strategy_farming['strategy'].dapp is not null %}
                                    {{ strategy_farming['strategy'].dapp }}
                                {% endif %}
                            </td>
                            <td class="text-white align-middle">
                                {{ strategy_farming['strategy'].coin1.symbol|upper }}/{{ strategy_farming['strategy'].coin2.symbol|upper }}
                            </td>
                            <td class="text-white align-middle text-end">{{ strategy_farming['strategy'].apr }} %</td>
                            <td class="text-white align-middle text-end">
                                {{ (strategy_farming['strategy'].priceCoin1*strategy_farming['strategy'].nbCoin1
                                +
                                strategy_farming['strategy'].priceCoin2*strategy_farming['strategy'].nbCoin2)|number_format(2, '.', ' ') }}
                                $
                            </td>
                            <td class="text-white align-middle text-end">{{ strategy_farming['value_dollar']|number_format(2, '.', ' ') }}
                                $
                            </td>
                            <td class="text-white align-middle text-end">{{ gain_day|round(2)|number_format(2, '.', ' ') }} $</td>
                            <td class="text-white align-middle text-end">{{ gain_month|round(2)|number_format(2, '.', ' ') }} $</td>
                            <td class="text-white align-middle text-end">{{ strategy_farming['gain_year']|round(2)|number_format(2, '.', ' ') }}
                                $
                            </td>
                            <td class="text-white align-middle text-center">
                                {{ include('strategy_lp/_indexactions_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <p>Vous n'avez encore aucun farming.</p>
    {% endif %}

    {{ include('modal_informations.html.twig') }}

{% endblock %}
