{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Farming{% endblock %}

{% block body %}
    <h1>StrategyFarming</h1>

    <table class="table table-bordered table-striped table-responsive-md table-dark">
        <tbody>
        <tr>
            <th>Id</th>
            <td class="text-white align-middle">{{ strategy_farming.id }}</td>
        </tr>
        <tr>
            <th>NbCoins</th>
            <td class="text-white align-middle">{{ strategy_farming.nbCoins }}</td>
        </tr>
        <tr>
            <th>Apr</th>
            <td class="text-white align-middle">{{ strategy_farming.apr }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_strategy_farming_index') }}">back to list</a>

    <a href="{{ path('app_strategy_farming_edit', {'id': strategy_farming.id}) }}">edit</a>

    {{ include('strategy_farming/_delete_form.html.twig') }}
{% endblock %}
