<h1 class="h3">Information sur le farming</h1>
{% if farming.startAt %}
    <p>Depuis le : {{ farming.startAt|date('d/m/Y') }}</p>
{% endif %}
<p>Valeur totale de la LP :
    (~{{ farming.valueUsd|round(2)|number_format(2, '.', ' ') }} $)</p>
<p>APR : {{ farming.apr }} %</p>

{% if farming.description is not empty %}
    <p>Description : {{ farming.description }}</p>
{% endif %}

<p><a href="{{ farming.dapp.url }}">{{ farming.dapp }}</a> sur {{ farming.dapp.blockchain }}</p>

<h2 class="h4">Gains (*)</h2>
<p>Annuel : ~{{ farming.annualRewardsUsd|round(2)|number_format(2, '.', ' ') }} $</p>
<p>Mensuel : ~{{ (farming.annualRewardsUsd/12)|round(2)|number_format(2, '.', ' ') }} $</p>
<p>Hebdomadaire : ~{{ (farming.annualRewardsUsd/52)|round(2)|number_format(2, '.', ' ') }} $</p>
<p>Journalier : ~{{ (farming.annualRewardsUsd/365)|round(2)|number_format(2, '.', ' ') }} $</p>

<p>* : Ces calculs ne prennent pas en compte un potentiel impermanent-loss.</p>