{% extends 'base.html.twig' %}

{% block title %}StrategyLP{% endblock %}

{% block body %}
    <h1>StrategyLP</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ strategy_l_p.id }}</td>
        </tr>
        <tr>
            <th>StartAt</th>
            <td>{{ strategy_l_p.startAt ? strategy_l_p.startAt|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>PriceCoin1</th>
            <td>{{ strategy_l_p.priceCoin1 }}</td>
        </tr>
        <tr>
            <th>PriceCoin2</th>
            <td>{{ strategy_l_p.priceCoin2 }}</td>
        </tr>
        <tr>
            <th>NbCoin1</th>
            <td>{{ strategy_l_p.nbCoin1 }}</td>
        </tr>
        <tr>
            <th>NbCoin2</th>
            <td>{{ strategy_l_p.nbCoin2 }}</td>
        </tr>
        <tr>
            <th>LpDeposit</th>
            <td>{{ strategy_l_p.lpDeposit }}</td>
        </tr>
        <tr>
            <th>Apr</th>
            <td>{{ strategy_l_p.apr }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('strategy_farming_index') }}">back to list</a>

    <a href="{{ path('strategy_l_p_edit', {'id': strategy_l_p.id}) }}">edit</a>

    {{ include('strategy_lp/_delete_form.html.twig') }}
{% endblock %}
