{{ form_start(form) }}


<div class="row mb-2">
    <div class="col-md-3 align-self-end">
        {{ form_label(form.nbCoins, 'Nombre') }}
        {{ form_widget(form.nbCoins, { 'attr': {'placeholder': 'ex: 1000'} }) }}
    </div>
    <div class="col-md-3 align-self-end">
        {{ form_label(form.coin, 'Crypto') }}
        {{ form_widget(form.coin) }}
    </div>
</div>

<button class="btn btn-light m-3">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
