{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Emprunts{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('modal') }}
{% endblock %}

{% block body %}
    <div class="row mb-2">
        <div class="col">
            <h1>Mes emprunts</h1>
        </div>
        <div class="col text-end">
            <a href="{{ path('app_loan_new') }}" class="btn btn-warning m-2">Ajouter un emprunt</a>
        </div>
    </div>

    <p>
        Emprunt total : {{ total|number_format(0, '.', ' ') }} $
    </p>

    <table class="table table-bordered table-striped table-responsive-md table-dark">
        <thead>
        <tr>
            <th></th>
            <th>Blockchain</th>
            <th>Dapp</th>
            <th>Coin</th>
            <th>Valeur ($)</th>
            <th class="th-actions">actions</th>
        </tr>
        </thead>
        <tbody>
        {% for loan in loans %}
            <tr>
                <td class="text-center align-middle">
                    <button type="button"
                            class="btn btn-sm btn-light rounded-circle button-infos"
                            data-id="{{ loan.id }}"
                            data-titlemodal=""
                            data-url="{{ path('app_loan_ajax_infos', {'id': loan.id}) }}">
                        <i class="bi bi-info"></i>
                    </button>
                </td>
                <td class="align-middle text-white">
                    {% if loan.dapp is not null and loan.dapp.blockchain is not null %}
                        {{ loan.dapp.blockchain }}
                    {% endif %}
                </td>
                <td class="align-middle text-white">
                    {% if loan.dapp is not null and loan.dapp.url is not null and loan.dapp.url is not empty %}
                        <a href="{{ loan.dapp.url }}">{{ loan.dapp }}</a>
                    {% elseif loan.dapp is not null %}
                        {{ loan.dapp }}
                    {% endif %}
                </td>
                <td class="text-white align-middle text-end">{{ loan.nbCoins }} {{ loan.coin.symbol|upper }}</td>
                <td class="text-white align-middle text-end">{{ loan.currentValue|number_format(2, '.', ' ') }}
                    $
                </td>
                <td class="text-white align-middle text-center">
                    {{ include('loan/_indexactions_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ include('modal_informations.html.twig') }}

{% endblock %}
