<div class="container">
    {{ form_start(form) }}
    <div class="row mb-2">
        <div class="col-md-3 align-self-end">
            {{ form_label(form.blockchain, 'Blockchain') }}
            {{ form_widget(form.blockchain) }}
        </div>

        <div class="col-md-3 align-self-end">
            {{ form_label(form.cryptocurrency, 'Payé en') }}
            {{ form_widget(form.cryptocurrency) }}
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-3 align-self-end">
            {{ form_label(form.collection, 'Collection') }}
            {{ form_widget(form.collection, { 'attr': {'placeholder': 'ex: Aurory'} }) }}
        </div>
        <div class="col-md-3 align-self-end">
            {{ form_label(form.supply, 'Supply') }}
            {{ form_widget(form.supply, { 'attr': {'placeholder': 'ex: 10 000'} }) }}
        </div>
        <div class="col-md-3 align-self-end">
            {{ form_label(form.num, '# Id') }}
            {{ form_widget(form.num, { 'attr': {'placeholder': 'ex: 2130'} }) }}
        </div>
        <div class="col-md-3 align-self-end">
            {{ form_label(form.rank, 'Classement') }}
            {{ form_widget(form.rank, { 'attr': {'placeholder': 'ex: 120'} }) }}
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-3 align-self-end">
            {{ form_label(form.purchasedOn, 'Acheté le') }}
            {{ form_widget(form.purchasedOn, { 'attr': {'placeholder': 'ex: 01/01/2021'} }) }}
        </div>
        <div class="col-md-3 align-self-end">
            {{ form_label(form.priceCrypto, 'Prix en crypto') }}
            {{ form_widget(form.priceCrypto, { 'attr': {'placeholder': 'ex: 2'} }) }}
        </div>
        <div class="col-md-3 align-self-end">
            {{ form_label(form.priceUsd, 'Prix en dollar') }}
            <div class="input-group">
                {{ form_widget(form.priceUsd, { 'attr': {'placeholder': 'ex: 250'} }) }}
                <span class="input-group-text">$</span>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-3 align-self-end">
            {{ form_label(form.soldOn, 'Vendu le') }}
            {{ form_widget(form.soldOn, { 'attr': {'placeholder': 'ex: 01/02/2021'} }) }}
        </div>
        <div class="col-md-3 align-self-end">
            {{ form_label(form.priceSoldCrypto, 'Prix en crypto') }}
            {{ form_widget(form.priceSoldCrypto, { 'attr': {'placeholder': 'ex: 10'} }) }}
        </div>
        <div class="col-md-3 align-self-end">
            {{ form_label(form.priceSoldUsd, 'Prix en dollar') }}
            <div class="input-group">
                {{ form_widget(form.priceSoldUsd, { 'attr': {'placeholder': 'ex: 3 000'} }) }}
                <span class="input-group-text">$</span>
            </div>
        </div>
        <div class="col-md-3 align-self-end">
            {{ form_label(form.percentSaleFees, 'Frais de revente') }}
            <div class="input-group">
                {{ form_widget(form.percentSaleFees, { 'attr': {'placeholder': 'ex: 5'} }) }}
                <span class="input-group-text">%</span>
            </div>
        </div>
    </div>


    <div class="row mb-2">
        <div class="col-6">
            {{ form_label(form.description, 'Description') }}
            {{ form_widget(form.description, { 'attr': {
                'placeholder': 'ex: Mon NFT préféré !',
                'rows': 3
            } }) }}
        </div>
    </div>
    <button class="btn btn-light m-3">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>