{% extends 'base.html.twig' %}

{% block title %}NFT{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('tab') }}
    {{ encore_entry_script_tags('modal') }}
{% endblock %}

{% block body %}

    {{ include('modal_informations.html.twig') }}

    <div class="row mb-2">
        <div class="col">
            <h1>Mes NFT</h1>
        </div>
        <div class="col text-end">
            <a href="{{ path('nft_new') }}" class="btn btn-warning m-2">Ajouter</a>
        </div>
    </div>

    {% if nfts_sold|length > 0 %}
        <div class="row mb-3">
            <div class="col">Résultat : {{ total_benef|round(2) }} $</div>
        </div>
    {% endif %}

    <ul class="nav nav-tabs navbar-dark" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="live-tab" data-bs-toggle="tab" data-bs-target="#live"
                    type="button"
                    role="tab" aria-controls="live" aria-selected="true">Live ({{ nfts|length }})
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="sold-tab" data-bs-toggle="tab" data-bs-target="#sold" type="button"
                    role="tab" aria-controls="sold" aria-selected="false">Vendu ({{ nfts_sold|length }})
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="live" role="tabpanel" aria-labelledby="live-tab">
            <table class="table table-bordered table-striped table-responsive-md table-dark">
                <thead>
                <tr>
                    <th>Acheté le</th>
                    <th>Collection</th>
                    <th>ID</th>
                    <th>Prix Crypto</th>
                    <th>Crypto</th>
                    <th>Prix Dollar</th>
                    <th class="th-actions">actions</th>
                </tr>
                </thead>
                <tbody>
                {% for nft in nfts %}
                    <tr>
                        <td class="align-middle text-white text-end">{{ nft.purchasedOn ? nft.purchasedOn|date('d/m/Y') : '' }}</td>
                        <td class="align-middle text-white">{{ nft.collection }}</td>
                        <td class="align-middle text-white">{{ nft.num }}</td>
                        <td class="align-middle text-white text-end">{{ nft.priceCrypto }}</td>
                        <td class="align-middle text-white">{{ nft.cryptocurrency.symbol|upper }}</td>
                        <td class="align-middle text-white text-end">{{ nft.priceUsd|number_format(0, '.', ' ') }} $</td>
                        <td class="text-white text-center align-middle">
                            {{ include('nft/_indexactions_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="sold" role="tabpanel" aria-labelledby="sold-tab">
            <table class="table table-bordered table-striped table-responsive-md table-dark">
                <thead>
                <tr>
                    <th></th>
                    <th>Acheté le</th>
                    <th>Collection</th>
                    <th>Prix d'achat</th>
                    <th>SoldOn</th>
                    <th>PriceSoldUsd</th>
                    <th>PercentSaleFees</th>
                    <th>Gains/Pertes</th>
                    <th class="th-actions">actions</th>
                </tr>
                </thead>
                <tbody>
                {% for nft in nfts_sold %}
                    <tr>
                        <td class="text-center align-middle">
                            <button type="button"
                                    class="btn btn-sm btn-light rounded-circle button-infos"
                                    data-id="{{ nft.id }}"
                                    data-titlemodal="{{ nft.collection }} #{{ nft.num }}"
                                    data-url="{{ path('nft_ajax', {'id': nft.id}) }}">
                                <i class="bi bi-info"></i>
                            </button>
                        </td>
                        <td class="align-middle text-white text-end">{{ nft.purchasedOn ? nft.purchasedOn|date('d/m/Y') : '' }}</td>
                        <td class="align-middle text-white">{{ nft.collection }}</td>
                        <td class="align-middle text-white text-end">{{ nft.priceUsd|number_format(0, '.', ' ') }} $</td>
                        <td class="align-middle text-white text-end">{{ nft.soldOn ? nft.soldOn|date('d/m/Y') : '' }}</td>
                        <td class="align-middle text-white text-end">{{ nft.priceSoldUsd|number_format(0, '.', ' ') }} $</td>
                        <td class="align-middle text-white text-end">{{ nft.percentSaleFees }} %</td>
                        <td class="align-middle text-white text-end">{{ nft.benefice|number_format(0, '.', ' ') }} $</td>
                        <td class="text-white text-center align-middle">
                            {{ include('nft/_indexactions_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
