<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SMB{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}
    {% endblock %}

    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}
    {% endblock %}
</head>
<body>
<header class="p-3 bg-dark text-white border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ path('home') }}" class="nav-link px-2 text-secondary">Accueil</a></li>
                <li><a href="{{ path('position_index') }}" class="nav-link px-2 text-white">Positions</a></li>
                <li><a href="{{ path('strategy_farming_index') }}" class="nav-link px-2 text-white">Farming</a></li>
                <li><a href="{{ path('loan_index') }}" class="nav-link px-2 text-white">Emprunts</a></li>
                <li><a href="{{ path('strategy_dca_index') }}" class="nav-link px-2 text-white">DCA</a></li>
                <li><a href="{{ path('deposit_index') }}" class="nav-link px-2 text-white">Dépôts €</a></li>
            </ul>

            <div class="text-end">
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin') }}" class="btn btn-outline-light me-2">Admin</a>
                    {% endif %}
                    <a href="{{ path('app_logout') }}" class="btn btn-secondary">Logout</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-outline-light me-2">Login</a>
                    <a href="{{ path('app_register') }}" class="btn btn-secondary">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
<div class="bg-dark text-white p-3">
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</div>
</body>
</html>
