<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}SMB{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}
    {% endblock %}

    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}
    {% endblock %}
</head>
<body>

<nav class="p-3 border-bottom navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">Cryptobook</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {{ knp_menu_render('main', {'currentClass': 'active'}) }}
        </div>
        {# <div class="text-end"> #}
        {# {% if app.user %} #}
        {# {% if is_granted('ROLE_ADMIN') %} #}
        {# <a href="{{ path('admin') }}" class="btn btn-outline-light me-2">Admin</a> #}
        {# {% endif %} #}
        {# <a href="{{ path('app_logout') }}" class="btn btn-secondary">Logout</a> #}
        {# {% else %} #}
        {# <a href="{{ path('app_login') }}" class="btn btn-outline-light me-2">Login</a> #}
        {# <a href="{{ path('app_register') }}" class="btn btn-secondary">Register</a> #}
        {# {% endif %} #}
        {# </div> #}
    </div>
</nav>


<div class="bg-dark text-white p-3">
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</div>
</body>
</html>
