<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SMB{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}
    {% endblock %}

    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}
    {% endblock %}
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{{ path('home') }}" class="nav-link px-2 link-secondary">Accueil</a></li>
            <li><a href="{{ path('position_index') }}" class="nav-link px-2 link-dark">Mes positions</a></li>
            <li><a href="{{ path('deposit_index') }}" class="nav-link px-2 link-dark">FIAT to Crypto</a></li>
            <li><a href="{{ path('strategy_dca_index') }}" class="nav-link px-2 link-dark">Mon DCA</a></li>
            <li><a href="{{ path('strategy_farming_index') }}" class="nav-link px-2 link-dark">Farming</a></li>
        </ul>

        <div class="col-md-4 text-end">
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin') }}" class="btn btn-outline-primary me-2">Administration</a>
                {% endif %}
                <a href="{{ path('app_logout') }}" class="btn btn-primary">Se déconnecter</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="btn btn-outline-primary me-2">Se connecter</a>
                <a href="{{ path('app_register') }}" class="btn btn-primary">S'inscrire</a>
            {% endif %}
        </div>
    </header>
</div>
<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
