{% import _self as formMacros %}

{% macro part_prototype(part) %}
    <tr class="js-item">
        <td class="text-center align-middle">
            <button type="button" class="js-remove btn btn-secondary">-</button>
        </td>
        <td class="text-white align-middle">{{ form_widget(part.percent) }}</td>
        <td class="text-white align-middle">{{ form_widget(part.coin) }}</td>
    </tr>
{% endmacro %}

<div class="container">
    {{ form_start(form) }}
    <div class="row mb-2">
        <div class="col-md-2 align-self-end">
            {{ form_label(form.fiatToDcaEur, "Provenance FIAT") }}

            <div class="input-group">
                {{ form_widget(form.fiatToDcaEur) }}
                <span class="input-group-text">€</span>
            </div>
        </div>
        <div class="col-md-2 align-self-end">
            {{ form_label(form.farmingToDcaUsd, "Provenance Farming") }}

            <div class="input-group">
                {{ form_widget(form.farmingToDcaUsd) }}
                <span class="input-group-text">$</span>
            </div>
        </div>
    </div>


    <div class="m-3">
        <button type="button" class="add_item_link btn btn-secondary" data-wrapper="parts-wrapper">
            Ajouter une allocation
        </button>
    </div>
    <table class="table table-bordered table-striped table-responsive-md table-dark">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">%</th>
            <th scope="col">coin</th>
        </tr>
        </thead>
        <tbody class="parts-wrapper"
               data-index="{{ form.parts|length }}"
               data-prototype="{{ formMacros.part_prototype(form.parts.vars.prototype)|e('html_attr') }}">
        {% for part in form.parts %}
            {{ formMacros.part_prototype(part) }}
        {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-light m-3">{{ button_label|default('Save') }}</button>

    {{ form_end(form) }}
</div>