{% extends 'base.html.twig' %}

{% block title %}Edit StrategyDca{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dca_form') }}
    {{ encore_entry_script_tags('collection') }}
{% endblock %}

{% block body %}
    <h1>Edit StrategyDca</h1>

    {{ include('strategy_dca/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('strategy_dca_index') }}">back to list</a>

    {{ include('strategy_dca/_delete_form.html.twig') }}
{% endblock %}
