{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - DCA{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dca_index') }}
{% endblock %}

{% block body %}
    {% if dca is not null %}
        <div class="row mb-2">
            <div class="col">
                <h1>Mon DCA</h1>
            </div>
            <div class="col text-end">
                <a id="show-modal" class="btn btn-primary m-2">Génerer mes positions</a>
                <a href="{{ path('strategy_dca_edit') }}" class="btn btn-secondary m-2">Modifier mon DCA</a>
            </div>
        </div>

        {% set totaltousd = dca.fiatToDcaEur * ratioUsdEur + dca.farmingToDcaUsd %}

        <div class="row">
            <div class="col-4">

                <table class="table table-sm table-bordered table-striped table-responsive-md table-dark">
                    <tbody>
                    <tr>
                        <td class="text-white">FIAT</td>
                        <td class="text-white text-end">{{ dca.fiatToDcaEur|number_format(2, '.', ' ') }} €</td>
                    </tr>
                    <tr>
                        <td class="text-white">Farming</td>
                        <td class="text-white text-end">{{ dca.farmingToDcaUsd|number_format(2, '.', ' ') }} $</td>
                    </tr>
                    <tr>
                        <td class="text-white">Total</td>
                        <td class="text-white text-end">~ {{ totaltousd|round(2)|number_format(2, '.', ' ') }} $</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col"></div>
        </div>


        <table class="table table-bordered table-striped table-responsive-md table-dark">
            <thead>
            <tr>
                <th>Coin</th>
                <th>%</th>
                <th>Dollar à investir</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
            {% for part in dca.parts %}
                <tr>
                    <td class="text-white">{{ part.coin.symbol|upper }}</td>
                    <td class="text-white text-end">{{ part.percent }} %</td>
                    <td class="text-white text-end">{{ (totaltousd * part.percent /100)|round(2)|number_format(2, '.', ' ') }} $</td>
                    <td class="text-white text-end">{{ ((totaltousd * part.percent /100)/part.coin.priceUsd)|round(6) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <div class="modal" id="modal_informations" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="modal-title-id" class="modal-title">DCA</h5>
                        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
                    </div>
                    <div id="modal-body-id" class="modal-body p-3">
                        <label for="dca_value" class="form-label required">Argent investi ($)</label>
                        <div class="input-group">
                            <input type="text"
                                   id="dca_value"
                                   required="required"
                                   placeholder="ex: 100"
                                   value="{{ totaltousd|round(2) }}"
                                   class="form-control">
                            <span class="input-group-text">$</span>
                        </div>

                        <button data-path="{{ absolute_url(path('generatePositions')) }}"
                                id="btn-generate"
                                class="btn btn-light mt-3">
                            Valider
                        </button>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <div class="row mb-2">
            <div class="col">
                <h1>Mon DCA</h1>
            </div>
            <div class="col text-end">
                <a href="{{ path('strategy_dca_new') }}" class="btn btn-warning m-2">Créer mon DCA</a>
            </div>
        </div>
        <p>Aucune stratégie DCA définie.</p>
    {% endif %}
{% endblock %}
