{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - DCA{% endblock %}

{% block body %}
    <h1>Mon DCA</h1>


    {% if dca is defined and dca %}

        <a href="{{ path('strategy_dca_edit') }}" class="btn btn-primary m-2">Modifier mon DCA</a>

        <p>FIAT DCA : {{ dca.fiatToDcaEur }}€</p>
        <p>Farming DCA : $ {{ dca.farmingToDcaUsd }}</p>
        <ul>
            {% for part in dca.parts %}
                <li>{{ part.percent }}% : {{ part.coin.libelle }}</li>
            {% endfor %}
        </ul>

    {% else %}
        <p>Aucune stratégie DCA définie.</p>
        <a class="btn btn-primary m-2" href="{{ path('strategy_dca_new') }}">Créer mon DCA</a>
    {% endif %}

{% endblock %}
