{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - DCA{% endblock %}

{% block body %}
    <h1>StrategyDca</h1>

    <table class="table table-bordered table-striped table-responsive-md table-dark">
        <tbody>
        <tr>
            <th>Id</th>
            <td class="text-white align-middle">{{ strategy_dca.id }}</td>
        </tr>
        <tr>
            <th>FiatToDcaEur</th>
            <td class="text-white align-middle">{{ strategy_dca.fiatToDcaEur }}</td>
        </tr>
        <tr>
            <th>FarmingToDcaUsd</th>
            <td class="text-white align-middle">{{ strategy_dca.farmingToDcaUsd }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('strategy_dca_index') }}">back to list</a>

    <a href="{{ path('strategy_dca_edit', {'id': strategy_dca.id}) }}">edit</a>

    {{ include('strategy_dca/_delete_form.html.twig') }}
{% endblock %}
